.Menu {
    height: 50vh; 
    width: 100%; 
    margin: auto;
}

.Header {
    width: 50%; 
    margin: auto; 
}

.CoinHeader {
    width: 90%; 
    height: 10%;
    margin: auto;

}

.CoinTitle {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 0;
    width: 150px;
    text-align: center;
     
    
}

.CoinTitle h2 {
    padding: 0;
    margin: auto;
}

.CoinName {
    display: block;
    
    
}

.CoinTitle img {
    height: 25px;
    width: auto;
    margin: auto;
    padding-top: 5px;
    padding-right: 10px; 
}

.CoinSymbol {
    text-align: left;
    color: rgb(17, 170, 17); 
    text-transform: uppercase;
    font-weight: bold;
}
.CoinDetails {
    width: 90%; 
    margin: auto;
}

.CoinDetails ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;

}

.CoinDetails ul li {
    text-align: left;
}